<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= client.time %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= client.note %>
  </p>

</div>
