<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, placeholder: "Tên khách hàng" %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, placeholder: "Số điện thoại" %>
  </div>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.datetime_field :time, placeholder: "Thời gian" %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_area :note, placeholder: "Ghi chú" %>
  </div>

  <div>
    <%= form.submit "Thêm mới" %>
  </div>
<% end %>
